doctype html
html(lang="en")
    include ../Modulo/head.pug
    body 

            
            div(class="text-center")
                h1= msg
                img(src="", alt="alt")

                a(href="/Home",class="btn btn-primary",style="margin-right: 2px;") Volver

 