doctype html
html(lang="en")
    include ../Modulo/head.pug
      
    body 
        div(class="w-100")   
            nav(class="navbar navbar-expand-sm navbar-light " id="navbar")
                div(style="margin-left: 20px;")
                    a(href="/") 
                        img(src="../img/Logo.png" id="Logo" class="img-fluid")

                div(class="container")
                    form(action="/BuscarHome" method="POST" class="d-flex form-inline position-relative my-2 d-inline-block")
                        

                    div
                        a(href="/Login" class="btn btn-success" style="margin-right: 2px;")="Login" 
                        a(href="/login/Registrarse" class="btn btn-success")="Registrase" 

            div(id="content" )
                div(class="container p-2")
                    div(class="row")
                        if(Publicacion[0] != null)
                            for val in Publicacion
                                div(class="column-public")
                                    div(class="container-image")
                                        img(src=`../public_watermark/${val.Imagenes.nombre}` class="image")
                        else
                            h1(style="margin-left: 25rem;")="No hay coincidencias"
        